/* nav {
  background-color: white;
  color: black;
} */

.margin-top-large {
  margin-top: 60px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 60px;
}

.center-s4 {
  margin-left: calc(100% / 3) !important;
  margin-right: calc(100% / 3) !important;
}

.errors {
  color: ee6e73;
  font-weight: bold;
}

.padding-small {
  padding: 10px 10px 10px 10px;
}

.padding-bottom-sides-small {
  padding: 0 10px 10px 10px;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.cell {
  margin: 10px;
}

.button-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}