.main-header {
  background-color: #26a69a;
}

.margin-top-large {
  margin-top: 60px;
}

.margin-top-medium {
  margin-top: 40px;
}

.margin-top-small {
  margin-top: 20px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 60px;
}

.margin-vertical-medium {
  margin-bottom: 40px;
  margin-top: 40px;
}

.center-s4 {
  margin-left: calc(100% / 3) !important;
  margin-right: calc(100% / 3) !important;
}

.errors {
  color: ee6e73;
  font-weight: bold;
}

.padding-small {
  padding: 10px 10px 10px 10px;
}

.padding-bottom-sides-small {
  padding: 0 10px 10px 10px;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.cell {
  margin: 10px;
}

.button-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.disabled {
  opacity: 0.6;
  background-color: grey;
}

.select {
  height: 30px;
}

.section-header {
  font-size: 18;
  font-weight: bold;
}

.white-nav {
  background-color: white;
}

.black-text {
  color: black;
}